h1
{
    text-align-last: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h2
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 120px;
    color: white;
}
form
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 15px;
    margin-top: 50px;
    margin-left: 40px;
    color: black;
    text-align-last: center;
}
label
{
    margin-right: 10px;
}
body
{
    background-color: black;
}
img
{
    width: 6cm;
    margin-left: 20px;
    color: white;
}
div
{
    background-color: white;
    margin-left: 31%;
    height: 150px;
    width: 550px;
}
button
{
    height: 25px;
    width: 80px;
}